.dimensions-father {
  height: 20vh;
  width: 80vw; }
  .dimensions-father.color-father1 {
    background-color: lightcoral; }
  .dimensions-father.color-father2 {
    background-color: lightsalmon; }
  .dimensions-father .child {
    background-color: lightskyblue;
    border: 1px dashed grey;
    height: 10vh;
    width: 30vw; }
